<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenMax.min.js'></script>

<nav class="menu">
   <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
   <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

   <a href="{{ site.url }}" class="menu-item"> <i class="fa fa-home"></i> </a>
   <a href="{{ site.url }}/posts" class="menu-item"> <i class="fa fa-edit"></i> </a>
   <a href="{{ site.url }}/projects" class="menu-item"> <i class="fa fa-code"></i> </a>
</nav>
