<nav class="menu">
   <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
   <label class="menu-open-button" for="menu-open">
    <span class="lines line-1"></span>
    <span class="lines line-2"></span>
    <span class="lines line-3"></span>
  </label>

   <a href="#" class="menu-item"> <i class="fa fa-home"></i> </a>
   <a href="#" class="menu-item"> <i class="fas fa-pen-square"></i> </a>
   <a href="{{ domain }}{{ link.url }}" class="menu-item" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a>
</nav>
